
 <article class="car">
         <h1 class="car__tittle">MY BAG</h2>

        <article class="carrito">

                <div class="products__list">                     
                </div>

           
            <section class="car__abstract">
                <ul class="abstract__list">

                  <h2 class="car__tittle">SUMMARY</p>
                    <li><p class="abstract__can">2 PRODUCTS</p></li>
                   
                    <li><p class="abstract__total">Total</p>
                    <p class="abstract__num-total"></p></li>

                     <button class="abstract__btn" onclick="location.href='pay/';">BUY NOW</button>

                    </ul>

                    
            </section>



        </article>
        </article>

     </div>