
 <article class="cont-carrito">
         <h2 class="carrito__titulo">MY BAG.</h2>

        <article class="carrito">

            <section class="carrito__productos">

               


                <div class="lista-productos">

                     
                </div>

            </section>
           
            <section class="carrito__resumen">
                <ul class="resumen__lista">
                  <p class="resumen__titulo">SUMMARY.</p>
                    <li class="resumen__item resumen__num-prod">  <p class="resumen__cantidad">2 PRODUCTS</p></li>
                    <li class="resumen__item">  <p class="resumen__subtotal">Subtotal</p> <p class="resumen__sub resumen__num-sub">$899</p></li>

                    <li class="resumen__item resumen__envio">  <p class="resumen__subtotal">Shipping</p> <p class="resumen__num-sub">FREE</p></li>

                    <li class="resumen__item">  <p class="resumen__total">Total</p> <p class="resumen__num-total"></p></li>

                     <button class="resumen__btn" onclick="location.href='pay/';">BUY NOW</button>

                    </ul>

                    
            </section>



        </article>
        </article>

     </div>