<article class="container-car">
    <h2 class="carrito__titulo">MY BAG</h2>

    <article class="carrito">

        <section class="carrito__productos">




            <div class="products__list">


            </div>

        </section>

        <section class="car__abstract">
            <ul class="abstract__list">
                <p class="abstract__tittle">SUMMARY.</p>
                <li class="abstract__item abstract__num-prod">
                    <p class="abstract__cantidad">2 PRODUCTS</p>
                </li>
                <li class="abstract__item">
                    <p class="abstract__subtotal">Subtotal</p>
                    <p class="abstract__sub abstract__num-sub">$899</p>
                </li>

                <li class="abstract__item abstract__envio">
                    <p class="abstract__subtotal">Shipping</p>
                    <p class="abstract__num-sub">FREE</p>
                </li>

                <li class="abstract__item">
                    <p class="abstract__total">Total</p>
                    <p class="abstract__num-total"></p>
                </li>

                <button class="abstract__btn" onclick="location.href='pay/';">BUY NOW</button>

            </ul>


        </section>



    </article>
</article>
 