{{!-- Va a recibir los metadatos del main que esta en layout y recibe el scss principal  --}}
<h1>Página de contacto</h1>

<h1>{{persona.name}}</h1>
<h2>{{persona.age}}</h2>
<h3>{{persona.semester}}</h3>