

<h3>{{msj}}</h3>


{{#each arreglo}}
<a href='/contact/{{name}}'>{{name}}</a>
{{/each}}

<select class="input">
  <option value="name">Ordenar por nombre</option> 
  <option value="age" >Ordenar por edad</option>
  <option value="semester">ordenar por semestre</option>
</select>

<script src="/scrips/main.js"></script>